#LoginPanel {
    -fx-background-color: rgba(255,255,255,1);
    /*-fx-background-image: url("../images/psb.gif");*/
    /*-fx-background-image: url("../images/bg.jpg");*/
    -fx-background-size: 100%;
    -fx-background-radius: 0 0 5 5;
}

#loginId, #loginPassword {
    -jfx-focus-color: #aaaaaa;
    -jfx-unfocus-color: #aaaaaa;
    -fx-font-size: 16;
}

#loginButton {
    -fx-background-color: rgba(236,240,241,1);
}

#loginButton:hover {
    -fx-text-fill: #636e72;

}

#loginButton:pressed {
    -fx-text-fill: #aaaaaa;
}





