#ManagePanel {

    -fx-border-color: #f2f3f3 TRANSPARENT TRANSPARENT TRANSPARENT;
}

#ChoosePanel {

    -fx-border-color: TRANSPARENT #f2f3f3 TRANSPARENT TRANSPARENT;
}


#backImage {
    /*-fx-background-color: #000000;*/
    -fx-background-image: url("../images/bg.gif");
    -fx-background-size: 100%;
}

/*--------------------------------------------------------------*/

#quitButton {
    -fx-border-width: 0;
    -fx-background-radius: 3;
    -fx-background-color: #ff7675;
}
